.customized {
    background-color: #dd3939 !important; /* Remplacez la couleur par celle de votre choix */
    font-size: 16px !important; /* Remplacez la taille par celle de votre choix */
    padding: 20px !important; /* Ajoutez la marge intérieure de votre choix */
}

.test{
    background-color: #dd3939 !important;
}

.col-auto .test-text {
    color: red; /* Changez la couleur par celle de votre choix */
}

.test-text {
    color: red; /* Changez la couleur par celle de votre choix */
}
