
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-col {
    background-color: #ffffff;
    padding: 20px;
    height: 290px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-col h1 {
    font-size: 13px;
    margin-bottom: 20px; 
}

.logo {
    
    margin-top: 0;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100px;
    margin-top: 0px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    background-color: #55ab26;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.col-4 {
    background-color: #55ab26;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin: 0 2px; 
    height: 290px;
    text-align: center;
    width: 400px; /* Same width as the form */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-4 h2 {
    font-size: 23p;
    margin-bottom: 50px;
}

.col-4 p1 {
    font-size: 14px;
}
