<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
     <div class="form-col">
        <div class="logo">
            {%load static%}
            <img src="{% static 'image/LApims.png'%}" alt="PIMS" style="display: block;">
        </div>
        <h1>Utilisez votre eID et non votre adresse email</h1>
        <form id="login-form" action="../polls/" method="post">
            <div class="form-group">
                <label for="{{form.email.id_for_label}}" class="form-label">  </label>
                  {{ form.email}}
            </div>
            <div class="form-group">
                <label for="{{form.password.id_for_label}}" class="form-label">  </label>
                 {{ form.password}}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </form>
     </div>
     <div class="col-4">
        <div class="alert">
        <h2>Besoin d'aide ?</h2>
        </div>
        <p>Pour toute autre question sur l'utilisation de la plateforme Pims, contactez l'équipe Pims</p>
        <p><a href="mailto:votre@email.com">✉️ </a> ou 📞: 081/725075</p>
        
     </div>
</body>
</html>