#myForm{
    border: black 2px solid;
    padding: 10px;
    width: 100%; /* 100% of the width of the parent element */
}
#myButton{
    background-color: #55C243;
    color: white;
    background-size:cover;
    padding: 10px;
    cursor: pointer;
    margin:0 auto;
}
#myButton:hover{
    background-color: #3F8C2D;
}
#creationTitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
}