{% load static %}
<div class="offcanvas-header" style="background-color: rgb(105,190,40);">
    <img src="{% static 'image/logo.png'%}" alt="UNamur" style="width:30%">
    <img src="{% static 'image/pimss.png'%}" alt="pimsLogo" style="width:50%; margin-left: 24px;">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

</div>
<div class="offcanvas-body">
    <div class="col" >
        <div class="navbar-nav w-100">
            <a class="h4 text-center" href="/polls/home">Accueil</a>
            {% if "professeur" in user.role.role or "superviseur" in user.role.role %}
            <a class="nav-link cader" href="../gestion/">Gestion</a>
            <a class="nav-link cader" aria-current="page" href="/polls/course">Administration</a>
            <a class="nav-link cader active" href="../topics/">Topics</a>
            <!--<a class="nav-link cader" href="/polls/modify/list">Modify topics</a>-->
            <a class="nav-link cader" href="../new/">Add topic</a>
            <a class="nav-link cader" href="/polls/sujet/reservation">Réservation</a>
            <a class="nav-link cader" href="/polls/sujet/history">Historique</a>
            {%endif%}
            {% if "etudiant" in user.role.role %}

            <a class="nav-link cader" href="/polls/course/inscription">Inscription</a>
            <a class="nav-link cader" href="/polls/course/mycourses">Mes cours</a>
            <a class="nav-link cader" href="/polls/echeance">Echéance</a>

            {% endif%}
            {% if "etudiant" in user.role.role and Ue %}
            <a class="nav-link cader" href="/polls/course/{{Ue}}/steps">Etapes</a>
            {% endif %}

        </div>
   </div>
</div>