{% extends "otherRole/otherRoleTemplate.html"%}
{% block content %}
<div class="container vh-100 d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
        {% if subject|length > 0 %}
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            {% for title in subject_title %}
                            <th scope="col">{{ title }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for subject in subjects %}
                        <form method="POST" action="./reservation/{{subject.subject_id.value}}">
                        {%csrf_token%}
                        <tr>
                            {{ subject.sujet_id.as_hidden }}
                            <td><input type="text" name="title" value="{{subject.titre.value}}" readonly></td>
                            <td><textarea name="description" rows="3" readonly>{{subject.descriptif.value}}</textarea></td>
                            <td><button type="submit" class="btn btn-primary">Réserver</button> </td>
                        </tr>
                        </form>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <p>Tous les sujets vous concernant ont été attribués</p>
        </div>
            {%endif%}
    </div>
</div>


{% endblock %}