{% extends "otherRole/otherRoleTemplate.html" %}
{% block content %}
{% if 'professeur' in user.role.role or "etudiant" in user.role.role or "superviseur" in user.role.role %}
<div class="col-auto"></div>
<div class="col-auto">
    <!-- l'enchainement des classes de bootsrap permet d'aligner les éléments au centre -->
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <p>Bienvenue : {{ user.prenom }} {{ user.nom }}</p>
    </div>
<div class="col-auto"></div>
{% endif %}
{% endblock content %}