{% extends "otherRole/otherRoleTemplate.html" %}

{% block content %}
<div class="container vh-100 d-flex flex-column justify-content-center">
    <div class="row justify-content-center mb-4">
        <div class="col-8 text-right">
            
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="progress-container vh-25 d-flex" id="barContainer">
                <!-- Votre code pour la barre de progression reste inchangé -->
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="table-container d-flex justify-content-center">
                <div class="table-responsive">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">Titre des sujets</th>
                                <th scope="col">Description</th>
                                <th scope="col">Student</th>
                                <th scope="col">Status</th> <!-- Colonne ajoutée pour le statut -->
                                <th scope="col">Actions</th> <!-- Colonne pour les boutons d'action -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for sujet in sujet_infos %}
                            <tr>
                                <td>{{ sujet.titre }}</td>
                                <td>{{ sujet.description }}</td>
                                <td>
                                    {% for etudiant in sujet.etudiants %}
                                        {{ etudiant}}{% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                        &nbsp; <!-- Affiche un espace si aucun étudiant n'est assigné -->
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if sujet.etudiants%}
                                        Pris
                                    {% else %}
                                        Non pris
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Boutons pour les opérations CRUD sur chaque sujet -->
                                    <a href="{% url 'edit_topic' sujet.id %}" class="btn btn-warning btn-sm me-2">Edit</a>
                                    <a href="{% url 'delete_topic' sujet.id %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce sujet ?');" class="btn btn-danger btn-sm">Supprimer</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                    <div class="row justify-content-center my-4">
                        <div class="col-auto">
                            <a href="{% url 'addTopic' Ue %}" class="btn btn-primary">Add New Sujet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
